body{
    background-color: var(--bg);
    color: var(--fontColor);
    font-family: poppinsregular;
    padding: 100px;
}

.about{
    text-align: justify;
    text-indent: 20px;
    width: 78%;
}

:root{
    --black: #000000;
    --white: #ffff;
}

.ligth-theme{
    --bg: var(--white);
    --fontColor:var(--black);
}

.dark-theme{
    --bg: var(--black);
    --fontColor:var(--white);
}

#siteTitle{
    text-align: center;
}

.whiteBck{
    display: block;
    background-color: #ed9539;
    border-radius: 15px;
    padding: 50px;
    color: rgb(34, 34,34);
}

.siteBar{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #89c9e6;
    border-radius: 15px;
}

li{
    font-family: poppinsregular;
    display: inline-block;
    margin: 10px;
    color: black;
    font: bold;
    font-size: medium;

}

li:hover{
    color: red;
    transition: 0.3s all;
}

#mainBody{
    display: block;
    width: 70%;
    float: left;

}

#sideBody{
    display: solid;
    float: right;
    width: 30%; 
}

#x{
    display: flex;
    flex-direction: row;
}

footer{
    display: block;
    background-color: #89c9e6;
    border-radius: 15px;
    text-align: center;
}

#hiddeBtn{
    font-family: poppinsregular;
    display: block;
    background-color: #89c9e6;
    border: none;
    font: bold;
    font-size: medium;
    cursor: pointer;
}


#hiddeBtn:hover{
    color: white;   
    border-radius: 15px;
    transition: 0.3s all;

}

#darkBtn{    
    font-family: poppinsregular;
    display: block;
    background-color: #89c9e6;
    border: none;
    font: bold;
    font-size: medium;
    cursor: pointer;
}

#darkBtn:hover{
    color: white;   
    border-radius: 15px;
    transition: 0.3s all;
}
